<!DOCTYPE html>
<head>
  <title>About Web Breakz</title>
  <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Rock+Salt" rel="stylesheet">
  <link rel="stylesheet" href="static/about.css"/>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <style type="text/css">a {text-decoration: none}</style>
</head>
<body>
  <h1 id="questions">What is Web Breakz?</h1>
  <p id="answers">Web Breakz is an app that increases your productivity by giving you breaks
    and quite literally yelling at you to get off the internet and get back to
     work.</p>
  <br>
  <h1 id="questions">Who can use Web Breakz?</h1>
  <p id="answers">Anyone and everyone! If you are a person cruising through the interwebs,
    feel free to use our app to get back to work, focus on what should be
    getting done, and have an app yell at you for cruising the interwebs for
    too long.</p>
  <br>
  <h1 id="questions">How long do I have until my next web break?</h1>
  <p id="answers">You decide! --or-- We yell at you every thirty minutes so you could be the
     most productive human you could ever be!</p>
  <br>
  <h1 id="questions">Are you mad that I actually went through all of these questions instead
    of doing my work that needs to get done but that hasn't been done because I
     am too much of a procrastinator who loves to surf the web and ignore actual
     things in life that need to get done?</h1>
  <p id="answers">Well... sounds like you need some breakz.</p>
  <br>
  <br>
  <center>
  <a href="/" class="button">plz take me home</a>
  </center>
</body>
</html>
