<!DOCTYPE html>
<html lang="en">
  <head>
    <title>wEb brEaKz</title>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P|Share+Tech|VT323|Warnes" rel="stylesheet">
  </head>
  <body>
    <center>
    <h1>Welcome to Web Breakz</h1>
    <script src='https://code.jquery.com/jquery-2.2.0.min.js'></script>
    <script src='https://cdn.rawgit.com/admsev/jquery-play-sound/master/jquery.playSound.js'></script>

    <button onclick='$.playSound("http://www.noiseaddicts.com/samples_1w72b820/3724")'>Example Sound Play</button>
    </script>
    <h4>We want you to take breakz from the interwebs. Don't get us mad.</h4>
    </center>
  </body>
</html>
